body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;

}
.banner1,.banner2,.banner3,.banner4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
img{
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }
    
}
.text-box{
    width: 600px;
    position: absolute;
    top: 100px;
    left: 100px;
    color: #ffff99;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.text-box1{
        animation-delay: 0s;
}
.text-box2{
        animation-delay: 3s;
}
.text-box3{
        animation-delay: 6s;
}
.text-box4{
        animation-delay: 9s;
}
.text-box h1{
    margin-bottom: 40px;
}
.text-box p{
    font-size: 18px;
    line-height: 18px;
    margin-top: 80px;
}
.text-box span{
    background: red;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0;
}
.banner1{
    animation: lamborghini 12s linear infinite;
}
.banner2{
    animation: ferrari 12s linear infinite;
}
.banner3{
    animation: honda 12s linear infinite;
}
.banner4{
    animation: bmw 12s linear infinite;
}
@keyframes lamborghini{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes ferrari{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes honda{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes bmw{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}